body{
    font-size: 18px;
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #000;
    color: #fff;
    text-align: center;
    border: 3px solid green;
    margin-bottom: 10px;
}
header h1{
    margin: 2px
    
}
#container{
    width: 90%;
    margin: auto;
    padding: 5px;
    background-color: white;
}

input{
    display: block;
    border: black solid 2px;
    margin: 10px 0;
}
